################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.idea/.idea.SearchyNET
/.vs/SearchyNET
/packages/Microsoft.NETCore.Portable.Compatibility.1.0.1
/SearchyNET/.idea/.idea.SearchyNET
/SearchyNET/bin/Debug/netstandard2.0
/SearchyNET/obj
/SearchyPoC/bin/Debug
/SearchyPoC/obj/Debug
/SearchyNET/bin/Release/netstandard2.0
/SearchyNET.Tests/bin/Debug/netcoreapp2.1
/SearchyNET.Tests/obj
